@using BetMatch.Extensions;
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bet Match - @ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Bet Match", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                @if(User.Identity.IsAdminApproved())
                {
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Bet Feed", "BetFeed", "Wager")</li>
                        <li>@Html.ActionLink("My Open Bets", "OpenBets", "Wager")</li>
                        <li>@Html.ActionLink("Pending Settlement", "PendingSettlement", "Wager")</li>
                        <li>@Html.ActionLink("Settled Bets", "SettledBets", "Wager")</li>
                        <li>@Html.ActionLink("User List", "UserList", "Users")</li>
                    </ul>
                }
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year Bet Match</p>
        </footer>
    </div>

</body>
</html>
